logo{color:white;}
.intro{min-height: 500px;}    
.navbar {background-color: transparent;}
.top-nav-collapse {background-color: #4A5056;}
.alertsContainer .alertsRow .success{
    position: fixed;
    top:400px;
    margin-top: 200px;
}


