<header>        
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <logo>
          <a class="logo navbar-brand" routerLink=""><strong>Machine Learning Classification</strong></a>
      </logo>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro  hm-stylish-strong">
      <div class="full-bg-img flex-center">
          <div class="container text-center white-text wow fadeInUp">
              <h2>Klasifikasi Judul Skripsi</h2>
              <br>
              <h5>Support Vector Machine</h5>
          </div>
      </div>
      
  </div>
  <!-- /.Main -->
</header>
<app-alerts></app-alerts>     
<!--Main Navigation-->
  <router-outlet></router-outlet>
<!-- Footer -->
<app-footer></app-footer>
<!--/.Footer-->

                        