<!--Main Layout-->
<main class="wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="card-header special-color-dark lighten-1 white-text">
                        Input Data Judul Skripsi
                    </div>
                    <div class="card-body">
                        <div class="md-form">
                            <i class="fa fa-pencil prefix"></i>
                            <input 
                            mdbInputDirective
                            placeholder="Ketik Disini Judul Skripsi ..." 
                            type="text"
                            class="form-control"
                            [(ngModel)] = "insertData.SkripsiTitle">
                            <input 
                            mdbInputDirective 
                            placeholder="Ketik Disini Kategori Skripsi ..." 
                            type="text"
                            class="form-control"
                            [(ngModel)] = "insertData.SkripsiCategory">

                            <div class="row text-center">
                                <div class="col align-self-center">
                                    <button
                                    type="button"
                                    class="btn btn-blue-grey waves-light btn-trainmodel"
                                    mdbWavesEffect
                                    (click) = "InsertDataset()">
                                    <i class="fa fa-plus mr-1"></i>Add for Dataset</button>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-header special-color-dark lighten-1 white-text">
                            Machine Learning Accuracy
                        </div>
                        <div class="card-body">
                            <div class="md-form">
                                <i class="fa fa-graduation-cap prefix"></i>
                                <input 
                                mdbInput 
                                placeholder="Tuning Parameter Model" 
                                type="text"
                                class="form-control"
                                name="C Parameter"
                                [(ngModel)]="linearsvcParameters.C"/>
                                <div class="row text-center">
                                    <div class="col align-self-center">
                                        <button (click)="TrainModel()" type="button" class="btn btn-blue-grey waves-light btn-trainmodel" mdbWavesEffect><i class="fa fa-gears mr-1"></i>
                                            TRAIN MODEL
                                        </button>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row justify-content-center" *ngIf="modelAccuracy">
                                <circle-progress
                                    class ="wow fadeInUp"
                                    [percent]="modelAccuracy[0].accuracy">
                                </circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="card-header special-color-dark lighten-1 white-text">
                        Data Exploration
                    </div>
                    <div class="card-body">
                        <div style="display: block">
                            <canvas mdbChart height="220" [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                                [legend]="false" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-header special-color-dark lighten-1 white-text">
                            Klasifikasi Judul Skripsi
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Judul Skripsi</h4>
                            <p class="card-text">Masukkan Judul Skripsi Teknik Informatika</p>
                            <div class="md-form">
                                <i class="fa fa-file-text prefix"></i>
                                <input mdbInput
                                 placeholder="Ketik Disini ..." 
                                 type="text" 
                                 class="form-control"
                                 [(ngModel)] = "clfInput.JudulSkripsi">
                            <div class="row text-center">
                                <div class="col align-self-center">
                                    <button 
                                        type="button" 
                                        class="btn btn-blue-grey waves-light btn-trainmodel" 
                                        mdbWavesEffect
                                        (click)="Clfskripsi()">Ok
                                    </button>
                                </div>
                            </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-12 result align-self-center">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title  wow zoomIn">
                                                " {{ clfOutput }} "
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="AboutMe wow fadeInUp" data-wow-delay="0.6s">
            <div class="row justify-content-center">
                <!--Section: Team v.2-->
                <section class="section team-section pb-3">

                    <!--Section heading-->
                    <h3 class="section-heading h3 pt-4">Created By</h3>
                    <!--Section description-->
                    <p class="section-description">
                        Mahasiswa Teknik Informatika
                        <br/> Universitas Islam Negeri Syarif Hidayatullah Jakarta
                    </p>
                    <div class="row text-center">
                        <!--Grid column-->
                        <div class="col align-self-center">
                            <div class="avatar mb-3">
                                <img src="../assets/img/me.jpg" class="z-depth-1" alt="First sample avatar image">
                            </div>
                            <h4>Ottoh Hidayatullah</h4>
                            <h5>FullStack Developer</h5>
                            <a class="icon-link round linkedin fill">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="icon-link round github fill">
                                <i class="fa fa-github"></i>
                            </a>
                            <a class="icon-link round envelope fill">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </section>
                <!--Section: Team v.2-->
            </div>
        </div>
    </div>
</main>
<!--Main Layout-->